
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');





.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

   

    body{
        background-color:hsl(47, 88%, 63%);
        padding-top : 100px;
        font-family: 'Raleway', sans-serif;
    }

    main{
        background-color: hsl(0, 0%, 100%);
      padding: 40px;
      box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.589);
      width: 320px;
      margin: 0 auto;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid hsl(0, 0%, 59%);
      margin-bottom: 40px;
    }

    main > img{
      width: 100%;
      border-radius: inherit;
    }

    button{
      background-color: hsl(47, 88%, 63%);
      color: hsl(0, 0%, 7%);
      padding: 10px 15px;
      border-radius: 7px;
      margin: 10px 0;
      border: 0;
      cursor: pointer;
    }

    .published{
      margin: 5px 0 10px;
      font-size: 0.9rem;
    }

    h1{
      font-weight: 700;
      font-size: 1.5rem;
      color:hsl(0, 0%, 7%);
    }

    h1:hover{
      color:hsl(47, 88%, 63%);
      cursor: pointer;
    }


    .lead{
      font-size: 1rem;
      color:hsl(0, 0%, 42%)
    }

    #profile{
      display: flex;
      flex-direction: row;
      justify-content: flex-start ;
      align-items: center;
      gap: 20px;
    }

    #profile img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    #profile span{
      font-size: 0.9rem;
      color: hsl(0, 0%, 7%);
      font-weight: 700;
    }